/* @import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap"); */

#top_column {
  padding: 10px 0 20px 0;
}
.section_slider {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 14px;
  overflow: hidden;
  padding: 100px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: #E4530F;
}

.content_slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.content_slider .textBox {
  position: relative;
  max-width: 430px;
  padding-left: 50px;
}

.content_slider .textBox h2 {
  color: #fff;
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.content_slider .textBox h2 span {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
}

.content_slider .textBox p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 13.5px;
  width: 400px;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.content_slider .textBox a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  padding: 8px 15px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.content_slider .textBox a:visited {
  text-decoration: none;
}
.content_slider .imgBox {
  width: 430px;
  display: flex;
  padding-right: 50px;
  margin-top: 0px;
  justify-content: flex-end;
}

.content_slider .imgBox img {
  max-width: 100%;
}

.thumb_slider {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb_slider li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb_slider li:hover {
  transform: translateY(-15px);
}

.thumb_slider li img {
  max-width: 40px;
}

.social_slider {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social_slider li {
  list-style: none;
}

.social_slider li a {
  display: inline-block;
  filter: invert(1);
  margin: 5px 0;
  transform: scale(0.6);
}

@media (max-width: 1200px) {
  .content_slider .textBox {
    width: 430px;
  }

  .content_slider .textBox p {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .section_slider {
    height: 450px;
    padding: 10px;
    padding-bottom: 70px;
  }

  .content_slider .textBox {
    width: 400px;
    padding-left: 70px;
  }

  .content_slider .imgBox {
    width: 400px;
    padding-right: 70px;
  }
  .content_slider .textBox p {
    font-size: 13px;
    width: 300px;
  }
}

@media (max-width: 765px) {
  #top_column {
    padding: 0 0 10px 0;
    margin-top: -15px;
  }
  .section_slider {
    padding: 0px;
    border-radius: 0px;
  }

  .content_slider {
    margin-bottom: 50px;
  }

  .content_slider .textBox {
    width: 300px;
    padding-left: 50px;
  }
  .content_slider .textBox h2 {
    font-size: 2.3em;
    line-height: 1.3em;
  }

  .content_slider .textBox h2 span {
    font-size: 1.3em;
  }

  .content_slider .textBox p {
    font-size: 12px;
    width: 280px;
  }

  .content_slider .textBox a {
    margin-top: 18px;
    padding: 8px;
    width: 280px;
  }

  .content_slider .imgBox {
    width: 300px;
    padding-right: 80px;
  }
}

@media (max-width: 620px) {
  #top_column {
    padding: 0 0 10px 0;
    margin-top: -15px;
  }
  .section_slider {
    padding: 40px 40px 140px 40px;
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 100vh;
  }

  .content_slider {
    flex-direction: column;
    margin-top: 0px;
  }

  .content_slider .textBox {
    position: relative;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 0px;
  }

  .content_slider .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0px;
    margin-top: 50px;
    justify-content: center;
  }

  .content_slider .imgBox img {
    max-width: 90%;
  }

  .social_slider {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 360px) {
  .section_slider {
    padding: 40px;
  }

  .content_slider .textBox a {
    width: 250px;
    font-size: 0.85em;
  }

  .content_slider .imgBox {
    width: 90%;
  }

  .social_slider {
    width: 45px;
  }
}
